# this config must go in ~/.config/syncfg/config

# directory to create new configs in before moving them to home_dir
staging_dir = "~/.config/syncfg/stage/";

# directory to backup configs in when they are replaced
backup_dir = "~/.config/syncfg/backup";

# directory to store pre-update and post-update hooks in
hook_dir = "~/.config/syncfg/hooks";

# final destination directory for config files
# this should normally be "~"
home_dir = "~";

# syncfgd server in the format host:port
server = "example.org:7080";

# client's public and private key
public_key = "~/.config/syncfg/keys/client.crt";
private_key = "~/.config/syncfg/keys/client.key";

# CA's public key
ca_key = "~/.config/syncfg/keys/ca.crt";
